a{
	text-decoration: none;
	color: black;
}

a:hover {
  color: #2196f3;
}

.AppFrame{
	width: 100%;
}
.AppHeader{
	width: 100%;
	display: block;
	float: left;
	text-align: center;
}
.body{
	width: 100%;
	display: block;
	float: left;
}

.buttonCont{
	margin-left: 35%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.button{
	width: 400px;
	height: 50px;
}

.field{
	width: 33%;
}

.form{
	width: 90%;
	margin-left: 5%;
	padding-left: 20%; 
	margin-top: 3%;
	margin-bottom: 3%;
}
.buttonContSub{
	margin-left: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
	display: block;
}
.buttonContData{
	margin-left: 27%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.buttonSub{
	width: 150px;
	height: 50px;
	
}
.Card{
	width: 50%;
	margin-left: 23%;
	padding-left: 4%;
	margin-top: 3%;
	margin-bottom: 3%;
}
@media (max-width: 64em){
	.buttonCont{
		margin-left: 8%;
	}
	.button{
		width: 300px;
		height: 50px;
	}
}